.btn {
  width: max-content;
  display: inline-block;
  color: black;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 5px solid #C5DB61;
	background: #0FB2CC;
}

.btn:hover {
  background: #C5DB61;
	box-shadow: 1px 1px 15px #C5DB61;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
