.btn-pages {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 2rem;
  font-size: 50px;
}

#next_btn {
  height: 100vh;
  color: #0FB2CC;
  right: 0rem;
  width: 8rem;
  font-size: 8rem;
  top: 0px;
  position: fixed;
  backdrop-filter: blur(5px);
  background: #262c3a1e;
  border: none;
}

#prev_btn {
  height: 100vh;
  color: #0FB2CC;
  left: 0rem;
  width: 8rem;
  font-size: 8rem;
  top: 0px;
  position: fixed;
  backdrop-filter: blur(5px);
  background: #262c3a1e;
  border: none;
}

.btn-pages button:disabled {
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  #next_btn {
    width: 3rem;
    font-size: 3rem;
  }

  #prev_btn {
    width: 3rem;
    font-size: 3rem;
  }
}